.btn_oculta{
	text-align: right;
    cursor: pointer;
	width:100%;
	   
}
.menu_tamanio{
 width:90px;
}
.sobra{
-webkit-box-shadow: -20px 10px 20px -7px #333;
-moz-box-shadow: -20px 10px 20px -7px #333;
box-shadow: -20px 10px 20px -7px #333;
}
.fila_alerta{
	background:#cef6d9!important;
}
.fila_cerrado{
	background:#999!important;
	color:white;
}
.fila_atendido{
	background:#5cb85c!important;
	color:white;
}
.fila_pendiente{
	background:#f0ad4e!important;
	color:white;
}
.submenu{
	position: absolute; 
	background: #fafafa;
	z-index: 9999;
	margin-top: -10px;
	margin-left: -15px;
	width: 150px;
	
}
.buscador{
    margin-left: 65%;
    margin-top: 38px;
    position: absolute!important;
	display:inline-flex;
	display:-moz-inline-flexbox;
	display:-ms-inline-flexbox;
}
.submenu2{
	position: absolute; 
	background: #fafafa;
	z-index: 9999;
	margin-top: 40px;
	margin-left: -15px;
	width: 180px;
	
}
.numero{
	position: absolute;
	top: 9px;
	right: 7px;
	text-align: center;
	font-size: 9px;
	padding: 2px 3px;
	line-height: .9;
	background-color: green;
	color: white;	
}
input[type=text] ,input[type=date],select,textarea,input[type=datetime-local],input[type=number],input[type=email]{
height:30px;
width:200px

}
input[type=file]{
height:45px;
width:500px;
margin-bottom:15px;
}
.input_he{
	height: 34px!important;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.text_entrevista{
height:30px;
width:90%!important
}
.area_texto{
	max-height:100px;
	max-width:700px;
	height:80%;
	   
}

.combo{
 height:20px;
 width:90%;
 margin-left: 5%;
}
.form-group {
    margin-bottom: 15px;
}
.margen_izquierdo{
	margin-left: 48px;
}
.margen_izquierdo2{
	margin-left: 10px;
}
h2{
	color:#1C953F;
}
.box-inner {
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}
.box-header {
    border: none;
    padding-top: 5px;
    border-bottom: 1px solid #DEDEDE;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    height: 35px;
    min-height: 35px !important;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#1a000000', GradientType=0);
}
.box-header h2 {
    font-size: 15px;
    width: auto;
    clear: none;
    float: left;
    line-height: 25px;
    white-space: nowrap;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
.well {
    min-height: 20px;
   
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.box-content {
    padding: 10px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}
footer {
    clear: both;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb2 {
    margin-top: -47px;
    margin-bottom: 24px;
    background-color: #f5f5f5;
    float: right;
}
a {
    color: #1C953F;
    text-decoration: none;
}


.notification {
    border-color: #999;
    background-color: #999;
    position: absolute;
	margin-left: 82px;
    margin-top: -19px;
    padding: 0 5px;
    font-family: Arial, sans-serif;
    color: white !important;
    text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
    border-width: 1px;
  
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
}
.green {
    border-color: #5AAD34;
    background-color: #78CD51;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(101, 54%, 71%)), color-stop(100%, hsl(101, 55%, 56%)));
    background-image: -webkit-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
    background-image: -moz-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
    background-image: -ms-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
    background-image: -o-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
    background-image: linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
}
.yellow {
    border-color: #F4A506;
    background-color: #FABB3D;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(40, 95%, 76%)), color-stop(100%, hsl(40, 95%, 61%)));
    background-image: -webkit-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
    background-image: -moz-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
    background-image: -ms-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
    background-image: -o-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
    background-image: linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
}
ul>li:hover>a {
    text-decoration: none;
    margin: 0px -3px;
    position: relative;
    background-color: #3498db;
    color: #ffffff;
    border-left: 3px solid #F1C40F;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glossed .sidebar-wrapper ul>li {
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.2);
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.2);
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
.sidebar-wrapper ul {
    padding: 0px 3px;
    list-style: none;
}
.sidebar-wrapper ul>li a {
    display: block;
    color: #555;
    font-weight: 300;
    text-transform: uppercase;
    padding: 9px 0px;
    position: relative;
    text-align: center;
}
.sidebar-wrapper ul>li a i {
    font-size: 24px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
    color: #fff;
}
.sidebar-wrapper {
	background:#1C953F!important;
    background-image: -webkit-gradient(linear, 0% top, 100% top, from(#1C953F), to(#1C953F));
    background-image: -webkit-linear-gradient(left, color-stop(#2980b9 0%), color-stop(#3896d3 100%));
    background-image: -moz-linear-gradient(left, #2980b9 0%, #3896d3 100%);
	background-image: -moz-gradient(linear, 0% top, 100% top, from(#1C953F), to(#1C953F));
    background-image: linear-gradient(to right, #1C953F0%, ##1C953F 100%);
	background-image: gradient(to right, #1C953F0%, ##1C953F 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2980b9', endColorstr='#ff3896d3', GradientType=1);
    -webkit-box-shadow: inset -2px 0px 3px 0px rgba(255,255,255,0.2),0px 6px 20px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: inset -2px 0px 3px 0px rgba(255,255,255,0.2),0px 6px 20px 0px rgba(0,0,0,0.8);
    box-shadow: inset -2px 0px 3px 0px rgba(255,255,255,0.2),0px 6px 20px 0px rgba(0,0,0,0.8);
}
.header{
	    display: inline-flex;
		width:100%;
		background:#1C953F;
}
.padding{
	padding:20px;
	
}
.area{
	width:90%;
}
.botontes{
	margin-bottom: -34px;
    float: right;
    margin-right: 340px;
}
.btn:hover {
	color:white;
}
.btn {
    transition: all 0.3s ease 0s !important;
    background-image: none !important;
    box-shadow: none !important;
    outline: none !important;
    position: relative;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-green {
    background-color: #1FBBA6;
    border-color: #1FBBA6;
    color: #ffffff;
}
.btn-light-beige {
    background-color: #d9c8a0;
    border-color: #d9c8a0;
    color: #ffffff;
}
.btn-orange {
    background-color: #FF6600;
    border-color: #FF6600;
    color: #ffffff;
}
.titulo{
	 width: 100%;

	background-color: #1C953F;
	color:white;
	height: 99px;
	vertical-align:middle;
    font-size: 24px;	
}
.fondo_verde{
	background-color: #1C953F;
}
.logo{
	background: #FCFCFC;
}
.img_logo{
	width:100px;
	height:90px;
	
}
.mar-top{
	margin-top: 10px;
}
.mar-buttom{
	margin-bottom: 10px;
}

.nom_usu{
	color:#1C953F!important;
	font-size:11px;
}
.gris{
	background: #fafafa;
}
body{
	 overflow:visible;
	/*background: #fafafa;*/
}